body {
    background-color: #39A9F1;
}

#box {
    position: absolute;
    top: 25%;
    left: 25%;
}

#box h1 {
    font-size: 50px;
}

#box h4 {
    font-style: italic;
    color: #fff;
    padding-left: 16px;
}

.contact, .contact a {
    padding-top: 16px;
    color: #eee;
    font-style: italic;
    font-size: 16px;
}

.contact i {
    padding-right: 6px;
}